/*nullstyle*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Comfortaa", sans-serif;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Comfortaa", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Light.woff2") format("woff2"), url("../fonts/Comfortaa-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Medium.woff2") format("woff2"), url("../fonts/Comfortaa-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-SemiBold.woff2") format("woff2"), url("../fonts/Comfortaa-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-mail-2:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e900";
}

._icon-phone:before {
  content: "\e902";
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0px 15px;
  transform: translate3d(0px, -100%, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.menu {
  position: relative;
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: space-between;
}

.menu__name {
  display: block;
  min-width: 100px;
  min-height: 45px;
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-align: start;
}

.menu__body {
  display: flex;
  flex: 0 1 100%;
}

.menu__list {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
}

.menu__list li {
  flex: 0 1 auto;
  display: flex;
  margin: 0px 15px 0px 0px;
}

.menu__link {
  color: #fff;
  cursor: pointer;
  font-size: calc(
			10px + 6 * ((100vw - 320px) / 1280)
		);
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: rgb(153, 242, 21);
}

body._lock {
  overflow: hidden;
}

body._lock::after {
  content: "";
  background: rgba(26, 25, 25, 0.492);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  background-color: rgb(53, 47, 42);
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header {
  transition: all 0.8s ease 0.8s;
  transform: translate3d(0px, 0px, 0px);
}

.wrapper._loaded .page__pagination {
  transform: translate3d(-50%, 0px, 0px);
  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease 1s;
}

.wrapper._loaded .page-next,
.wrapper._loaded .page-prev {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px, 0, 0);
  transition: all 0.6s ease 0.5s;
}

.wrapper._free .page__pagination {
  transform: translate3d(-50%, -50px, 0);
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.wrapper._free .page-next,
.wrapper._free .page-prev {
  opacity: 0;
  visibility: hidden;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  counter-reset: item;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__screen {
  position: relative;
  padding-left: calc(
			0px + 30 * ((100vw - 320px) / 1280)
		);
  padding-right: calc(
			0px + 30 * ((100vw - 320px) / 1280)
		);
  padding-top: 60px;
  padding-bottom: 10px;
}

.page__body {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.page-next,
.page-prev {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 25px;
  border-radius: 50%;
  background-color: rgba(14, 14, 14, 0.662745098);
  cursor: pointer;
  z-index: 5;
  width: 50px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
}

.page-next::before,
.page-prev::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page-prev {
  top: 62px;
  transform: translate3d(100px, 0, 0);
}

.page-next {
  bottom: 10px;
  transform: translate3d(100px, 0, 0);
}

.page__pagination {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translate3d(-50%, 200px, 0);
}

.page__bullet {
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
  margin: 0px 5px;
}

.page__bullet_active {
  background-color: #fff;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.screen {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(53, 47, 42);
  background-image: url(../img/Celtic-Knots-Revenge.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: repeat;
}

.screen__content {
  flex: 0 1 50%;
  position: relative;
}

.screen__content p:not(:last-child) {
  margin-bottom: 5px;
}

.screen__content p {
  font-size: calc(
			12px + 10 * ((100vw - 320px) / 1280)
		);
  text-align: left;
  line-height: 130%;
  color: #fff;
}

.screen__title {
  font-size: calc(
			16px + 24 * ((100vw - 320px) / 1280)
		);
  color: #fff;
  text-align: left;
  margin: 0px 0px 15px 0px;
  display: inline-block;
}

.screen__body {
  flex: 0 1 50%;
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
}

.screen__body::before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  position: absolute;
  z-index: 10;
  font-size: calc(
			14px + 4 * ((100vw - 320px) / 1280)
		);
  font-weight: 700;
  color: #b6b1b1;
  background-color: rgba(14, 14, 14, 0.4470588235);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  bottom: 5px;
  left: 50%;
  transform: translate3d(-50%, 0px, 0);
}

.screen__image {
  position: relative;
  padding: 0px 0px 65% 0px;
}

.screen__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.about__screen {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 47, 42);
  padding: 60px 0px 0px 0px;
  background-image: url(../img/Celtic-Knots-Revenge.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: repeat;
}

.about__body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 1200px;
}

.about__slogan {
  flex: 0 1 auto;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 40%;
  font-weight: 700;
  z-index: 5;
  font-size: calc(
			18px + 22 * ((100vw - 320px) / 1280)
		);
  color: #ffffff;
}

.about__slogan h2 {
  text-transform: uppercase;
  text-align: right;
  line-height: 150%;
}

.about__title {
  color: #020202;
  margin-top: 0px;
  margin-bottom: 7px;
}

.about__text {
  position: absolute;
  padding: 5px;
  width: 55%;
  height: 100%;
  top: 25px;
  left: 10px;
  z-index: 5;
}

.about__text p {
  font-size: calc(
			12px + 10 * ((100vw - 320px) / 1280)
		);
  text-align: left;
  line-height: 120%;
  color: #020202;
}

.about__text p:not(:last-child) {
  margin-bottom: 3px;
}

.about__contacts {
  position: absolute;
  display: inline-block;
  width: 55%;
  right: 1px;
  top: calc(
			190px + 100 * ((100vw - 320px) / 1280)
		);
  z-index: 5;
}

.about__contacts .contacts__title {
  margin: 0px 0px 20px 0px;
  color: #020202;
}

.about__contacts-text {
  position: absolute;
  margin-bottom: 20px;
  padding: 5px;
  width: 55%;
  top: 55px;
  right: 10px;
  z-index: 5;
}

.about__contacts-text p {
  font-size: calc(
			12px + 10 * ((100vw - 320px) / 1280)
		);
  text-align: left;
  line-height: 120%;
  color: #020202;
}

.about__contacts li {
  display: flex;
  font-size: calc(
			10px + 12 * ((100vw - 320px) / 1280)
		);
  font-weight: 700;
  padding-left: 5px;
}

.about__contacts li:not(:last-child) {
  margin-bottom: 10px;
}

.about__contacts a {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #020202;
}

.about__image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px 0px 77% 0px;
}

._icon-phone:before,
._icon-instagram:before {
  font-size: calc(
			14px + 8 * ((100vw - 320px) / 1280)
		);
}

._icon-mail-2:before {
  font-size: calc(
			16px + 8 * ((100vw - 320px) / 1280)
		);
}

@media (min-width: 767px) {
  .screen__body {
    padding: 20px 0px 0px 20px;
  }
}

@media (max-width: 900px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
    width: 100%;
  }

  .menu__icon::after {
    bottom: 0;
    width: 65%;
  }

  .menu__icon span {
    width: 80%;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    width: 100%;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.878);
    padding: 70px 25px 25px 20px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
  }

  .menu__link {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
  }

  .menu__list li:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 767px) {
  .page__body {
    flex-direction: column;
  }

  .page__pagination {
    display: none;
  }

  .screen {
    flex-direction: column;
    justify-content: center;
  }

  .screen__content {
    flex: 0 1 auto;
    padding: 0px 10px 20px 10px;
  }

  .screen__title {
    margin-top: 8px;
  }

  .screen__body {
    flex: 0 1 auto;
  }
}

@media (max-width: 500px) {
  .about__slogan {
    left: 5px;
    top: 30px;
    width: 60%;
  }

  .about__title {
    color: #fff;
    margin-top: 20px;
  }

  .about__text {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 10px 0px 10px;
  }

  .about__text p {
    color: #fff;
  }

  .about__contacts-text {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin-top: 20px;
  }

  .about__contacts-text p {
    color: #fff;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: rgb(153, 242, 21);
  }
}

@media (any-hover: hover) and (pointer: fine) {
  .wrapper._loaded .page-next:hover,
  .wrapper._loaded .page-prev:hover {
    transition: all 0s ease 0s;
    background-color: rgb(111, 175, 16);
  }

  .about__contacts a:hover {
    transition: all 0s ease 0s;
    border-bottom: 3px solid rgb(111, 175, 16);
  }
}